.navbar {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar-input {
    border: none;
    padding: 15px 25px;
    margin-top: 5px;
    width: 300px;
    font-size: 20px;
    color: #3b3b3b;
    border-radius: 5px;
    transition: focus 0.2s ease;
    transition: border-radius 0.3s ease;
    &:focus {
        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
    }
}

.dropdown {
    position: absolute;
    z-index: 2;
    width: 300px;
    background: $white;
}

// datalist arrow removal
input::-webkit-calendar-picker-indicator {
    display: none;
}

#suggestions {
    margin-top: 10px;
}
