.navbar {
  width: 100%;
  height: 126px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-title {
  font-size: 40px;
  color: $white;
  padding: 20px 0;
  letter-spacing: 1px;
}

.navbar-input {
  border: 1px solid #c4c4c4;
  padding: 10px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  &:focus {
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
  }
}
