.navbar {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-title {
  font-size: 50px;
  color: $white;
  padding: 60px 0;
  letter-spacing: 1px;
  font-weight: 500;
}

.navbar-input {
  border: none;
  padding: 15px 20px 15px 45px;
  max-width: 500px;
  font-size: 20px;
  color: $grey;
  border-radius: 30px;
  transition: focus 0.2s ease 0s;
  &:focus {
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
  }
}
