@import "./layout.scss";
@import "./layout.scss";
@import "./WeatherCard.scss";
@import "./NavBar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
}

input {
  outline: none;
  border: none;
}
