@import "./layout.scss";
@import "./layout.scss";
@import "./WeatherCard.scss";
@import "./NavBar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  outline: none;
  border: none;
}
