@import './layout.scss';
@import './layout.scss';
@import './WeatherCard.scss';
@import './NavBar';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    min-height: 100vh;
    width: 100%;
    &::before {
        content: '';
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        background: url('../images/bgImage.jpg') center center no-repeat;
    }
}

input {
    outline: none;
    border: none;
}

.flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delete-toast {
    animation: delete-toast 750ms ease-in-out;
}

@keyframes delete-toast {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}
